* {
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.heading {
  font-size: 2rem;
  text-align: center;
  margin: 0 auto 4rem;
}

.tools {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, 1fr);
  max-width: 46.875rem;
  //grid-template-columns: repeat(auto-fit, minmax(min(23rem, 100%), 1fr));
  grid-auto-rows: 1fr;
  .tool {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem;
    background: beige;
    text-decoration: none;
    transition: scale 0.2s ease-in-out;
    .image-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1 1 100%;
      img {
        max-width: 100%;
        flex-grow: 1;
      }
    }
    a {
      display: block;
      flex: 1 1 100%;
      text-align: center;
    }
  }
  .tool:hover {
    scale: 1.1;
  }
}
